In [2]:
import sys
import os 
import pandas as pd
import numpy as np
from datetime import datetime
import csv
import shutil
import pymysql
import pymongo
from pymongo import MongoClient
import sqlalchemy

### 0. Data Collection

run the following mongodb query to unwind the collection:

In [4]:
"""
db.CX_commissions_etl.drop()

db.CXcommissions_201808201535.aggregate([
{$unwind: {path: "$TOURCODES", preserveNullAndEmptyArrays: true}},
{$unwind: {path: "$ORIGINATING", preserveNullAndEmptyArrays: true}},
{$unwind: {path: "$FLIGHTS", preserveNullAndEmptyArrays: true}},
{$unwind: {path: "$POS", preserveNullAndEmptyArrays: true}},
{$unwind: {path: "$FROM_LOCATION", preserveNullAndEmptyArrays: true}},
{$unwind: {path: "$TO_LOCATION", preserveNullAndEmptyArrays: true}},
{$unwind: {path: "$PCC", preserveNullAndEmptyArrays: true}},
{$unwind: {path: "$FBC", preserveNullAndEmptyArrays: true}},
{$project : {_id : 0 }},
{$out:"CXcommissions_etl"}
]);

db.CXcommissions_etl.find({}).count()
"""

'\ndb.CX_commissions_etl.drop()\n\ndb.CXcommissions_201808201535.aggregate([\n{$unwind: {path: "$TOURCODES", preserveNullAndEmptyArrays: true}},\n{$unwind: {path: "$ORIGINATING", preserveNullAndEmptyArrays: true}},\n{$unwind: {path: "$FLIGHTS", preserveNullAndEmptyArrays: true}},\n{$unwind: {path: "$POS", preserveNullAndEmptyArrays: true}},\n{$unwind: {path: "$FROM_LOCATION", preserveNullAndEmptyArrays: true}},\n{$unwind: {path: "$TO_LOCATION", preserveNullAndEmptyArrays: true}},\n{$unwind: {path: "$PCC", preserveNullAndEmptyArrays: true}},\n{$unwind: {path: "$FBC", preserveNullAndEmptyArrays: true}},\n{$project : {_id : 0 }},\n{$out:"CXcommissions_etl"}\n]);\n\ndb.CXcommissions_etl.find({}).count()\n'

In [5]:
client=MongoClient('mongodb://raxPaper:vN9k32dXma@cluster0-shard-00-00-yvbwp.mongodb.net:27017,cluster0-shard-00-01-yvbwp.mongodb.net:27017,cluster0-shard-00-02-yvbwp.mongodb.net:27017/admin?replicaSet=Cluster0-shard-0&ssl=true')
db = client.raxdb

In [7]:
docs = [doc for doc in db["CXcommissions_etl"].find({})]
data = pd.DataFrame(docs)

In [8]:
len(data)

24933

In [9]:
# change columns to lower case
data.columns = [col.lower() for col in data.columns]
data

,agent_discount,corporate_acc_id,corporate_discount,country,ct_fare_comm,discount_unit,fbc,filename,flights,from_location,...,route,rtw_fare_comm,sales_period_dis_date,sales_period_eff_date,tkt_designator,tkt_dis_date,tourcodes,to_location,trv_dis_date,_id
0,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9227
1,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9228
2,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9229
3,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922a
4,15,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922b
5,15,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922c
6,15,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922d
7,15,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922e
8,15,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922f
9,15,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9230
10,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9231
11,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9232
12,10,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9233
13,10,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9234
14,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9235
15,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9236
16,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9237
17,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9238
18,15,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9239
19,15,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923a
20,10,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923b
21,10,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923c
22,10,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923d
23,10,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923e
24,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923f
25,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9240
26,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9241
27,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9242
28,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9243
29,5,NaN,0,US,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,...,USA\nOR\nLATIN AMERICA - ASIA,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24903,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d4
24904,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d5
24905,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d6
24906,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d7
24907,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d8
24908,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d9
24909,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3da
24910,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3db
24911,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3dc
24912,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3dd
24913,10,NaN,0,US,0,USD,F/A - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3de
24914,10,NaN,0,US,0,USD,F/A - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3df
24915,10,NaN,0,US,0,USD,J/C/D/I-TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e0
24916,10,NaN,0,US,0,USD,J/C/D/I-TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e1
24917,10,NaN,0,US,0,USD,J/C/D/I-TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e2
24918,10,NaN,0,US,0,USD,J/C/D/I-TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e3
24919,10,NaN,0,US,0,USD,W/R/E - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e4
24920,10,NaN,0,US,0,USD,W/R/E - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e5
24921,10,NaN,0,US,0,USD,W/R/E - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e6
24922,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e7
24923,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e8
24924,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e9
24925,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ea
24926,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3eb
24927,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ec
24928,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ed
24929,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ee
24930,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ef
24931,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3f0
24932,10,NaN,0,US,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,...,USA TO ASIA,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3f1

### 1. Data Preprocessing

In [12]:
# set the pos column as the country column, drop the country and route column
data['pos']=data['country']
data.drop('country', inplace= True, axis=1)
# drop the route 
data.drop('route', axis =1, inplace=True)
data

,agent_discount,corporate_acc_id,corporate_discount,ct_fare_comm,discount_unit,fbc,filename,flights,from_location,originating,...,rbd,rtw_fare_comm,sales_period_dis_date,sales_period_eff_date,tkt_designator,tkt_dis_date,tourcodes,to_location,trv_dis_date,_id
0,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,F,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9227
1,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,F,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9228
2,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,A,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9229
3,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,A,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922a
4,15,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,J,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922b
5,15,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,J,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922c
6,15,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,C,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922d
7,15,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,C,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922e
8,15,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,D,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff922f
9,15,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,D,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9230
10,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,I,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9231
11,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,I,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9232
12,10,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,W,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9233
13,10,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,W,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9234
14,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,R,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9235
15,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,R,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9236
16,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,E,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9237
17,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,E,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9238
18,15,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,Y,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9239
19,15,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,Y,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923a
20,10,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,H,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923b
21,10,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,H,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923c
22,10,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,B,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923d
23,10,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,B,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923e
24,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,K,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff923f
25,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,K,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9240
26,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,M,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9241
27,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,M,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9242
28,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,L,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9243
29,5,NaN,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,-CX7680,None,+US,...,L,0,,,NaN,,6LAM149FF501,ASIA,,5b7a5a8ac82e1f1135ff9244
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24903,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,V,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d4
24904,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,V,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d5
24905,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,S,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d6
24906,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,S,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d7
24907,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,N,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d8
24908,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,N,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3d9
24909,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,Q,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3da
24910,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,Q,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3db
24911,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,O,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3dc
24912,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,-CX7680,USA,+US,...,O,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3dd
24913,10,NaN,0,0,USD,F/A - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,F,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3de
24914,10,NaN,0,0,USD,F/A - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,A,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3df
24915,10,NaN,0,0,USD,J/C/D/I-TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,J,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e0
24916,10,NaN,0,0,USD,J/C/D/I-TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,C,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e1
24917,10,NaN,0,0,USD,J/C/D/I-TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,D,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e2
24918,10,NaN,0,0,USD,J/C/D/I-TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,I,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e3
24919,10,NaN,0,0,USD,W/R/E - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,W,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e4
24920,10,NaN,0,0,USD,W/R/E - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,R,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e5
24921,10,NaN,0,0,USD,W/R/E - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,E,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e6
24922,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,Y,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e7
24923,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,H,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e8
24924,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,B,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3e9
24925,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,K,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ea
24926,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,M,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3eb
24927,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,L,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ec
24928,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,V,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ed
24929,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,S,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ee
24930,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,N,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3ef
24931,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,Q,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3f0
24932,10,NaN,0,0,USD,Y/B/H/K/M/L/V/S/N/Q/O - TYPE,17USA999-Rev2.Expedia_Group_(JUL16-AUG18)_-_OT...,NaN,USA,NaN,...,O,0,,,NaN,,NaN,ASIA,,5b7a5a8ac82e1f1135fff3f1

In [35]:
# replace nan/null with empty string
data=data.fillna("")
#data.loc[]

In [41]:
#update unknown date to '9999-12-31' 
date_cols = ['sales_period_dis_date', 'sales_period_eff_date', 'tkt_dis_date', 'trv_dis_date']
for date_col in date_cols:
    update_mask = data[date_col]==""
    data.loc[update_mask, date_col]='9999-12-31'

In [14]:
# ignore
# update float, ignore row if it can't
# float_cols = ['agent_discount', 'corporate_discount']
# for index, row in data.iterrows():
#     for float_col in float_cols:
#         float_num = row[float_col]
#         data.loc[index, float_col] = float(format(float_num, '.6f'))
#         print("Updateing: ", index, float_col)

In [15]:
# ignore the following step:
# get rid of '+' and '-' in columns
# cols = ['originating']
# for index, row in data.iterrows():
#     for col in cols:
#         string = row[col]
#         if string:
#             string = str(string).replace('-', '').replace('+', '')
#             data.loc[index, col] = string
#             print("Updateing: ", index, string)

In [45]:
# update 9999 to None
cols = ['ct_fare_comm', 'rtw_fare_comm']
for col in cols:
    update_mask = data[col]==9999
    data.loc[update_mask, col]= ""

In [87]:
#replace "'BOS'" with "BOS"
data['from_location']=data['from_location'].apply(lambda x: x.replace("'", ""))
data['fbc']=data['fbc'].apply(lambda x: x.replace("'", ""))

In [52]:
# check values of a column
data['from_location'].unique()

array(['', 'ASIA', 'BOS', 'CHI', 'DFW', 'EWR', 'HKG', 'JFK', 'LAX', 'MIA',
       'NYC', 'OR', 'ORD', 'SFO', 'SIN', 'USA', 'YVR'], dtype=object)

In [59]:
# location 'OR' is in the location information, need to clean it
mask = data['from_location']=='OR'
data.drop(data.loc[mask].index, inplace=True)
mask = data['to_location']=='OR'
data.drop(data.loc[mask].index, inplace=True)
data

,agent_discount,corporate_acc_id,corporate_discount,ct_fare_comm,discount_unit,fbc,filename,flights,from_location,originating,...,rbd,rtw_fare_comm,sales_period_dis_date,sales_period_eff_date,tkt_designator,tkt_dis_date,tourcodes,to_location,trv_dis_date,_id
0,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,F,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924b
1,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,A,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924c
2,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,J,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924d
3,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,C,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924e
4,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,D,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924f
5,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,I,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9250
6,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,W,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9251
7,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,R,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9252
8,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,E,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9253
9,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,Y,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9254
10,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,B,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9255
11,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,H,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9256
12,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,K,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9257
13,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,M,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9258
14,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,L,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9259
15,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,V,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff925a
16,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,S,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff925b
17,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,N,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff925c
18,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,F,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a5
19,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,A,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a6
20,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,J,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a7
21,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,C,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a8
22,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,D,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a9
23,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,I,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92aa
24,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,W,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92ab
25,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,R,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92ac
26,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,E,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92ad
27,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,Y,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92ae
28,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,B,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92af
29,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,H,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92b0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24903,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,H,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad4a
24904,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,B,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad4c
24905,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,K,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad4e
24906,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,M,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad50
24907,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,L,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad52
24908,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,V,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad54
24909,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,S,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad56
24910,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,N,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad58
24911,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,Q,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad5a
24912,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,O,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad5c
24913,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,F,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad35
24914,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,A,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad37
24915,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,J,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad39
24916,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,C,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad3b
24917,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,D,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad3d
24918,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,I,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad3f
24919,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,W,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad41
24920,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,R,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad43
24921,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,E,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad45
24922,10,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,Y,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad47
24923,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,H,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad49
24924,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,B,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad4b
24925,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,K,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad4d
24926,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,M,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad4f
24927,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,L,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad51
24928,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,V,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad53
24929,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,S,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad55
24930,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,N,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad57
24931,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,Q,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad59
24932,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,O,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad5b

In [62]:
data.columns

Index(['agent_discount', 'corporate_acc_id', 'corporate_discount',
       'ct_fare_comm', 'discount_unit', 'fbc', 'filename', 'flights',
       'from_location', 'originating', 'pcc', 'pos', 'rbd', 'rtw_fare_comm',
       'sales_period_dis_date', 'sales_period_eff_date', 'tkt_designator',
       'tkt_dis_date', 'tourcodes', 'to_location', 'trv_dis_date', '_id'],
      dtype='object')

### Data Cleaning

In [65]:
# check unique values of columns
def check_unique_values(cols=None):
    if cols:
        cols=cols
    else:
        cols = data.columns
    for col in cols:
        print("Columns: ", col)      
        print(data[col].unique())
check_unique_values(['agent_discount', 'corporate_acc_id', 'corporate_discount',
       'ct_fare_comm', 'discount_unit', 'fbc', 'flights', 'pcc', 'pos', 'rbd', 'rtw_fare_comm',
       'sales_period_dis_date', 'sales_period_eff_date', 'tkt_designator',
       'tkt_dis_date', 'trv_dis_date'])

Columns:  agent_discount
[3.0 5.0 0 10 '10' 15.0 20.0 7.0 12.0 6 11 8 25 13 23 22 27.0 30 18.0
 '3%\nALL TICKETS MUST BE ISSUED\r\n  ON/BEFORE 31DEC2016'
 '3% \nALL TICKETS MUST BE ISSUED\r\n  ON/BEFORE 14AUG2016'
 '3%\nALL TICKETS MUST BE ISSUED\r\n  ON/BEFORE 14AUG2016'
 'W W-TYPE 10%I II I' 'R/E R/E-TYPE 5%I II I' 26 2 17 35]
Columns:  corporate_acc_id
['' 'PEP12' 'TLS09' 'IAP08' 'TLS08']
Columns:  corporate_discount
[0.0 '']
Columns:  ct_fare_comm
[0 '']
Columns:  discount_unit
['P' 'USD']
Columns:  fbc
['' 'F/A-TYPE' 'J/C/D-TYPE' 'I-TYPE' 'W/R/E-TYPE' 'Y/H/BK/L/M/V/S/N-TYPE'
 'F/A -  TYPE' 'J/C/D/I-TYPE' 'W/R/E -  TYPE'
 'Y/B/H/K/M/L/V/S/N/Q/O - TYPE' "'W'" "'WR'" "'RLWSPCL'" "'RLXSPCL'"
 "'RHWSPCL'" "'RHXSPCL'" "'RKWSPCL'" "'RKXSPCL'" "'ELWSPCL'" "'ELXSPCL'"
 "'EHWSPCL'" "'EHXSPCL'" "'EKWSPCL'" "'EKXSPCL'" "'ELW30AP'" "'ELX30AP'"
 "'EHW30AP'" "'EHX30AP'" "'EKW30AP'" "'EKX30AP'" 'W-TYPE' 'R/E-TYPE'
 'Y-TYPE' 'H/B-TYPE' 'K/L/M/V/S/N-TYPE']
Columns:  flights
['' '-CX7680' '-CX7681' '+CX160' '+CX7681' '+CX7680']
Columns:  pcc
['' "'7A5H'" "'0ROA'" "'UQ2H'"]
Columns:  pos
['US' 'US_OFFLINES']
Columns:  rbd
['F' 'A' 'J' 'C' 'D' 'I' 'W' 'R' 'E' 'Y' 'B' 'H' 'K' 'M' 'L' 'V' 'S' 'N'
 'Q' 'O' '' '-A']
Columns:  rtw_fare_comm
[0 '']
Columns:  sales_period_dis_date
['9999-12-31' '2016-12-31' '2016-08-14' '2016-07-15' '2017-03-31'
 '2017-11-15' '2017-09-30' '2018-12-31' '2017-05-31']
Columns:  sales_period_eff_date
['9999-12-31' '2016-01-01' '2017-05-06']
Columns:  tkt_designator
['' 'PEPZ' 'IAP2' 'CMA:  /IAPCN, CMP: /IAPCP']
Columns:  tkt_dis_date
['9999-12-31']
Columns:  trv_dis_date
['9999-12-31' '2018-12-31' '2017-09-30']

In [68]:
def update_values(data, col, old_val, update_val):
    mask = data[col]==old_val
    data.loc[mask, col] = update_val
# delete row if a column contains certain value
def delete_values(data, col, val):
    mask = data[col]==val
    data.drop(data.loc[mask].index, inplace=True)

In [114]:
# cleaning:
# case1: Columns:  agent_discount
update_values(data, "agent_discount", "10", 10.0)
# case2:
re_val=[ '3%\nALL TICKETS MUST BE ISSUED\r\n  ON/BEFORE 31DEC2016',
 '3% \nALL TICKETS MUST BE ISSUED\r\n  ON/BEFORE 14AUG2016',
 '3%\nALL TICKETS MUST BE ISSUED\r\n  ON/BEFORE 14AUG2016']
for v in re_val:
    update_values(data, "agent_discount", v, 3.0)   
# case 3: 
update_values(data, "agent_discount", 'W W-TYPE 10%I II I' , 10.0)
update_values(data, "agent_discount", 'R/E R/E-TYPE 5%I II I' , 5.0)
# case 4: replace US_OFFLINES TO US
update_values(data, "pos", 'US_OFFLINES' , 'US')

In [84]:
data[data["agent_discount"]=='W W-TYPE 10%I II I']

,agent_discount,corporate_acc_id,corporate_discount,ct_fare_comm,discount_unit,fbc,filename,flights,from_location,originating,...,rbd,rtw_fare_comm,sales_period_dis_date,sales_period_eff_date,tkt_designator,tkt_dis_date,tourcodes,to_location,trv_dis_date,_id
18197,W W-TYPE 10%I II I,,0,0,P,,17NYC946-Orig.Valerie Wilson Travel.Dan (JAN17...,-CX7680,USA,+US,...,W,0,9999-12-31,9999-12-31,,9999-12-31,7NYC946FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffaab7
18198,W W-TYPE 10%I II I,,0,0,P,,17NYC946-Orig.Valerie Wilson Travel.Dan (JAN17...,-CX7680,USA,+US,...,W,0,9999-12-31,9999-12-31,,9999-12-31,7NYC946FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffaab8

In [115]:
check_unique_values(['agent_discount', 'corporate_acc_id', 'corporate_discount',
       'ct_fare_comm', 'discount_unit', 'fbc', 'flights', 'pcc', 'pos', 'rbd', 'rtw_fare_comm',
       'sales_period_dis_date', 'sales_period_eff_date', 'tkt_designator',
       'tkt_dis_date', 'trv_dis_date'])

Columns:  agent_discount
[3.0 5.0 0 10.0 15.0 20.0 7.0 12.0 6 11 8 25 13 23 22 27.0 30 18.0 26 2 17
 35]
Columns:  corporate_acc_id
['' 'PEP12' 'TLS09' 'IAP08' 'TLS08']
Columns:  corporate_discount
[0.0 '']
Columns:  ct_fare_comm
[0 '']
Columns:  discount_unit
['P' 'USD']
Columns:  fbc
['' 'F/A-TYPE' 'J/C/D-TYPE' 'I-TYPE' 'W/R/E-TYPE' 'Y/H/BK/L/M/V/S/N-TYPE'
 'F/A -  TYPE' 'J/C/D/I-TYPE' 'W/R/E -  TYPE'
 'Y/B/H/K/M/L/V/S/N/Q/O - TYPE' 'W' 'WR' 'RLWSPCL' 'RLXSPCL' 'RHWSPCL'
 'RHXSPCL' 'RKWSPCL' 'RKXSPCL' 'ELWSPCL' 'ELXSPCL' 'EHWSPCL' 'EHXSPCL'
 'EKWSPCL' 'EKXSPCL' 'ELW30AP' 'ELX30AP' 'EHW30AP' 'EHX30AP' 'EKW30AP'
 'EKX30AP' 'W-TYPE' 'R/E-TYPE' 'Y-TYPE' 'H/B-TYPE' 'K/L/M/V/S/N-TYPE']
Columns:  flights
['' '-CX7680' '-CX7681' '+CX160' '+CX7681' '+CX7680']
Columns:  pcc
['' "'7A5H'" "'0ROA'" "'UQ2H'"]
Columns:  pos
['US']
Columns:  rbd
['F' 'A' 'J' 'C' 'D' 'I' 'W' 'R' 'E' 'Y' 'B' 'H' 'K' 'M' 'L' 'V' 'S' 'N'
 'Q' 'O' '' '-A']
Columns:  rtw_fare_comm
[0 '']
Columns:  sales_period_dis_date
['9999-12-31' '2016-12-31' '2016-08-14' '2016-07-15' '2017-03-31'
 '2017-11-15' '2017-09-30' '2018-12-31' '2017-05-31']
Columns:  sales_period_eff_date
['9999-12-31' '2016-01-01' '2017-05-06']
Columns:  tkt_designator
['' 'PEPZ' 'IAP2' 'CMA:  /IAPCN, CMP: /IAPCP']
Columns:  tkt_dis_date
['9999-12-31']
Columns:  trv_dis_date
['9999-12-31' '2018-12-31' '2017-09-30']

In [89]:
data.to_csv("CXcommissions_etl_v1.csv")

In [969]:
data = pd.read_csv("CXcommissions_etl_v1.csv")
data

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (0,4) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,agent_discount,corporate_discount,ct_fare_comm,discount_unit,fbc,filename,flights,from_location,originating,pos,rbd,rtw_fare_comm,sales_period_dis_date,sales_period_eff_date,tkt_dis_date,tourcodes,to_location,trv_dis_date,_id
0,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,L,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c06b
1,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,E,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c07b
2,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,A,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c07d
3,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,N,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c08b
4,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,B,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c093
5,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,J,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c058
6,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,F,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c067
7,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,I,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c075
8,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,R,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c080
9,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,N,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c088
10,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,W,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c08c
11,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,N,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c089
12,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,W,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c08f
13,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,K,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c063
14,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,V,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c06d
15,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,H,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c073
16,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,E,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c07a
17,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,B,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c091
18,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,K,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c062
19,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,L,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c069
20,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,H,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c070
21,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,H,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c072
22,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,A,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c07c
23,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,N,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c08a
24,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,J,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c05b
25,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,L,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c068
26,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,V,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c06f
27,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,LATIN AMERICA,NaN,US,H,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c071
28,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,I,NaN,9999-12-31,2016-01-01,NaN,BCODE3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c076
29,5,0,NaN,P,NaN,3310354Z-rev13 CX for Biz sme (COTS).html,NaN,MEXICO,NaN,US,Y,NaN,9999-12-31,2016-01-01,NaN,3310354ZFF600,ASIA,NaN,5b46cba29dfc5d0816b4c084
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186070,3,0,0.0,P,NaN,USNOAMS-Rev2.Nomura Group.Dan.html,NaN,CX AND KA SYSTEM,-USA,US,S,0.0,2018-02-28,2017-03-01,2018-02-28,USNOAMSZFF600,CX AND KA SYSTEM,NaN,5b46cba69dfc5d0816b797cf
186071,3,0,0.0,P,NaN,USNOAMS-Rev2.Nomura Group.Dan.html,NaN,CX AND KA SYSTEM,-USA,US,I,0.0,2018-02-28,2017-03-01,2018-02-28,USNOAMSZFF600,CX AND KA SYSTEM,NaN,5b46cba69dfc5d0816b797d9
186072,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,E,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b797e4
186073,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7681,USA TO ASIA,+USA,US,E,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b797e5
186074,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,F,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79804
186075,25,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,C,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79813
186076,25,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7681,USA TO ASIA,+USA,US,C,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79816
186077,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,V,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b7982c
186078,25,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,Y,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79837
186079,25,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7681,USA TO ASIA,+USA,US,Y,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b7983d
186080,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,L,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79854
186081,25,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7681,USA TO ASIA,+USA,US,J,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79866
186082,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,NaN,CX AND KA SYSTEM,-USA,US,A,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,CX AND KA SYSTEM,2017-02-28,5b46cba69dfc5d0816b79877
186083,7,0,0.0,P,NaN,USLOGIT-Rev2.Logitech (JUN17-MAY19) Asad.html,-CX7680,USA,+USA,US,R,0.0,2019-05-31,2017-06-01,2019-05-31,USLOGITZFF600,ASIA,NaN,5b46cba69dfc5d0816b7975b
186084,7,0,0.0,P,NaN,USLOGIT-Rev2.Logitech (JUN17-MAY19) Asad.html,-CX7680,USA,+USA,US,E,0.0,2019-05-31,2017-06-01,2019-05-31,USLOGITZFF600,ASIA,NaN,5b46cba69dfc5d0816b79763
186085,10,0,0.0,P,NaN,USLOGIT-Rev2.Logitech (JUN17-MAY19) Asad.html,-CX7680,USA,+USA,US,H,0.0,2019-05-31,2017-06-01,2019-05-31,USLOGITZFF600,ASIA,NaN,5b46cba69dfc5d0816b79767
186086,12,0,0.0,P,NaN,17USA803-Orig.Sky Bird Travel (PEY Promo-MAY17...,-CX7680,USA,+USA,US,W,0.0,2017-05-31,2017-05-05,2017-05-31,7USA803FF500,ASIA,NaN,5b46cba69dfc5d0816b7976d
186087,25,0,0.0,P,NaN,USNOAMS-Rev2.Nomura Group.Dan.html,-CX7680,USA,+USA,US,D,0.0,2018-02-28,2017-03-01,2018-02-28,USNOAMSZFF600,ASIA,NaN,5b46cba69dfc5d0816b7978b
186088,10,0,0.0,P,NaN,USNOAMS-Rev2.Nomura Group.Dan.html,-CX7680,USA,+USA,US,H,0.0,2018-02-28,2017-03-01,2018-02-28,BCODEUSNOAMSZFF600,ASIA,NaN,5b46cba69dfc5d0816b797b4
186089,5,0,0.0,P,NaN,USNOAMS-Rev2.Nomura Group.Dan.html,-CX7680,USA,+USA,US,S,0.0,2018-02-28,2017-03-01,2018-02-28,BCODEUSNOAMSZFF600,ASIA,NaN,5b46cba69dfc5d0816b797b8
186090,3,0,0.0,P,NaN,USNOAMS-Rev2.Nomura Group.Dan.html,NaN,CX AND KA SYSTEM,-USA,US,H,0.0,2018-02-28,2017-03-01,2018-02-28,USNOAMSZFF600,CX AND KA SYSTEM,NaN,5b46cba69dfc5d0816b797dd
186091,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,E,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b797e3
186092,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7681,USA TO ASIA,+USA,US,A,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b7980d
186093,10,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,H,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79820
186094,10,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7681,USA TO ASIA,+USA,US,H,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79821
186095,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,V,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79828
186096,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,V,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b7982b
186097,5,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7681,USA TO ASIA,+USA,US,K,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79845
186098,25,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,D,0.0,2017-02-28,2015-03-01,NaN,USSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b79847
186099,25,0,0.0,P,NaN,USSALES-rev1a SalesForce com carol.html,-CX7680,USA TO ASIA,+USA,US,D,0.0,2017-02-28,2015-03-01,NaN,BCODEUSSALESZFF600,USA TO ASIA,2017-02-28,5b46cba69dfc5d0816b7984c

In [17]:
data.columns

Index(['agent_discount', 'corporate_acc_id', 'corporate_discount',
       'ct_fare_comm', 'discount_unit', 'fbc', 'filename', 'flights',
       'from_location', 'originating', 'pcc', 'pos', 'rbd', 'rtw_fare_comm',
       'sales_period_dis_date', 'sales_period_eff_date', 'tkt_designator',
       'tkt_dis_date', 'tourcodes', 'to_location', 'trv_dis_date', '_id'],
      dtype='object')

### 2. Normalise the table: Create commissions, commissions_loc and commissions_loc_map

#### split the table to main and locations, create foreign key

In [190]:
# create foreign key
data.sort_values(by=['from_location', 'to_location', 'pos'], inplace = True)
data.reset_index(drop=True, inplace = True)
data

,agent_discount,corporate_acc_id,corporate_discount,ct_fare_comm,discount_unit,fbc,filename,flights,from_location,originating,...,rbd,rtw_fare_comm,sales_period_dis_date,sales_period_eff_date,tkt_designator,tkt_dis_date,tourcodes,to_location,trv_dis_date,_id
0,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,F,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924b
1,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,A,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924c
2,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,J,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924d
3,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,C,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924e
4,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,D,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff924f
5,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,I,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9250
6,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,W,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9251
7,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,R,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9252
8,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,E,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9253
9,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,Y,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9254
10,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,B,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9255
11,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,H,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9256
12,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,K,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9257
13,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,M,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9258
14,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,L,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff9259
15,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,V,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff925a
16,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,S,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff925b
17,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,,-US,...,N,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,,9999-12-31,5b7a5a8ac82e1f1135ff925c
18,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,F,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a5
19,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,A,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a6
20,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,J,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a7
21,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,C,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a8
22,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,D,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92a9
23,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,I,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92aa
24,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,W,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92ab
25,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,R,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92ac
26,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,E,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92ad
27,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,Y,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92ae
28,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,B,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92af
29,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,,-US,...,H,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,,9999-12-31,5b7a5a8ac82e1f1135ff92b0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24885,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,H,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad4a
24886,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,B,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad4c
24887,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,K,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad4e
24888,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,M,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad50
24889,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,L,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad52
24890,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,V,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad54
24891,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,S,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad56
24892,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,N,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad58
24893,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,Q,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad5a
24894,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,O,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,ASIA,9999-12-31,5b7a5a8ac82e1f1135ffad5c
24895,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,F,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad35
24896,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,A,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad37
24897,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,J,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad39
24898,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,C,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad3b
24899,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,D,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad3d
24900,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,I,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad3f
24901,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,W,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad41
24902,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,R,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad43
24903,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,E,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad45
24904,10,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,Y,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad47
24905,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,H,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad49
24906,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,B,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad4b
24907,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,K,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad4d
24908,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,M,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad4f
24909,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,L,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad51
24910,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,V,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad53
24911,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,S,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad55
24912,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,N,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad57
24913,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,Q,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad59
24914,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,YVR,,...,O,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,JFK,9999-12-31,5b7a5a8ac82e1f1135ffad5b

In [187]:
data.columns

Index(['agent_discount', 'corporate_acc_id', 'corporate_discount',
       'ct_fare_comm', 'discount_unit', 'fbc', 'filename', 'flights',
       'from_location', 'originating', 'pcc', 'pos', 'rbd', 'rtw_fare_comm',
       'sales_period_dis_date', 'sales_period_eff_date', 'tkt_designator',
       'tkt_dis_date', 'tourcodes', 'to_location', 'trv_dis_date', '_id'],
      dtype='object')

In [191]:
locations = data[['from_location', 'to_location', 'pos']]
comm_cols = ['agent_discount', 'corporate_acc_id', 'corporate_discount',
       'ct_fare_comm', 'discount_unit', 'fbc', 'filename', 'flights',
       'originating', 'pcc', 'pos', 'rbd', 'rtw_fare_comm',
       'sales_period_dis_date', 'sales_period_eff_date', 'tkt_designator',
       'tkt_dis_date', 'tourcodes', 'trv_dis_date', '_id']
commission_data = data[comm_cols]

In [194]:
# create foreign key
commission_data['loc_fk'] = commission_data.index
commission_data

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,agent_discount,corporate_acc_id,corporate_discount,ct_fare_comm,discount_unit,fbc,filename,flights,originating,pcc,...,rbd,rtw_fare_comm,sales_period_dis_date,sales_period_eff_date,tkt_designator,tkt_dis_date,tourcodes,trv_dis_date,_id,loc_fk
0,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,F,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff924b,0
1,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,A,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff924c,1
2,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,J,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff924d,2
3,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,C,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff924e,3
4,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,D,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff924f,4
5,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,I,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9250,5
6,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,W,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9251,6
7,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,R,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9252,7
8,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,E,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9253,8
9,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,Y,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9254,9
10,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,B,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9255,10
11,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,H,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9256,11
12,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,K,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9257,12
13,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,M,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9258,13
14,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,L,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff9259,14
15,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,V,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff925a,15
16,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,S,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff925b,16
17,3,,0,0,P,,16LAM149-ORIG_Provo_Travel_Ltd_.html,,-US,,...,N,0,9999-12-31,9999-12-31,,9999-12-31,6LAM149FF501,9999-12-31,5b7a5a8ac82e1f1135ff925c,17
18,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,F,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92a5,18
19,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,A,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92a6,19
20,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,J,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92a7,20
21,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,C,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92a8,21
22,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,D,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92a9,22
23,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,I,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92aa,23
24,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,W,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92ab,24
25,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,R,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92ac,25
26,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,E,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92ad,26
27,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,Y,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92ae,27
28,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,B,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92af,28
29,3,,0,,P,,16LAX029-Orig_Stone_Mill_Travel_(01Oct16-30Sep...,,-US,,...,H,,9999-12-31,9999-12-31,,9999-12-31,6LAX029FF501,9999-12-31,5b7a5a8ac82e1f1135ff92b0,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24885,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,H,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad4a,24885
24886,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,B,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad4c,24886
24887,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,K,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad4e,24887
24888,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,M,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad50,24888
24889,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,L,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad52,24889
24890,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,V,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad54,24890
24891,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,S,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad56,24891
24892,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,N,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad58,24892
24893,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,Q,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad5a,24893
24894,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,O,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad5c,24894
24895,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,F,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad35,24895
24896,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,A,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad37,24896
24897,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,J,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad39,24897
24898,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,C,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad3b,24898
24899,11,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,D,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad3d,24899
24900,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,I,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad3f,24900
24901,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,W,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad41,24901
24902,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,R,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad43,24902
24903,5,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,E,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad45,24903
24904,10,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,Y,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad47,24904
24905,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,H,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad49,24905
24906,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,B,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad4b,24906
24907,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,K,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad4d,24907
24908,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,M,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad4f,24908
24909,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,L,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad51,24909
24910,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,V,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad53,24910
24911,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,S,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad55,24911
24912,3,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,N,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad57,24912
24913,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,Q,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad59,24913
24914,0,,0,0,P,,17NYC002-Orig__Up__Away_Travel__(01Apr17-31Mar...,,,,...,O,0,9999-12-31,9999-12-31,,9999-12-31,7NYC002FF501,9999-12-31,5b7a5a8ac82e1f1135ffad5b,24914

In [195]:
locations.drop_duplicates(inplace=True)

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [196]:
# create foreign key to link between the two table
fk_lst = []
for i in range(len(locations.index)):
    index = locations.index[i]
    if i < len(locations.index)-1:
        next_index = locations.index[i+1]
    elif i == len(locations.index)-1:
        next_index = len(commission_data)
    index_lst = [i]*(next_index-index)
    print(index, next_index, next_index-index)
    fk_lst = fk_lst + index_lst
len(fk_lst)

0 4035 4035
4035 7981 3946
7981 7990 9
7990 8044 54
8044 8164 120
8164 8165 1
8165 8167 2
8167 8177 10
8177 8178 1
8178 8179 1
8179 8180 1
8180 8181 1
8181 8182 1
8182 8183 1
8183 8184 1
8184 8185 1
8185 8186 1
8186 8187 1
8187 8188 1
8188 8190 2
8190 8191 1
8191 8192 1
8192 8193 1
8193 8194 1
8194 8324 130
8324 8325 1
8325 8326 1
8326 8327 1
8327 8328 1
8328 8329 1
8329 8330 1
8330 8332 2
8332 8333 1
8333 8334 1
8334 8335 1
8335 8336 1
8336 8338 2
8338 8339 1
8339 8340 1
8340 8341 1
8341 8343 2
8343 8473 130
8473 8474 1
8474 8475 1
8475 8476 1
8476 8477 1
8477 8478 1
8478 8479 1
8479 8480 1
8480 8481 1
8481 8482 1
8482 8483 1
8483 8519 36
8519 8555 36
8555 9935 1380
9935 10055 120
10055 10677 622
10677 10678 1
10678 10680 2
10680 10681 1
10681 10682 1
10682 10683 1
10683 10684 1
10684 10685 1
10685 10686 1
10686 10687 1
10687 10688 1
10688 10689 1
10689 10690 1
10690 10691 1
10691 10693 2
10693 10694 1
10694 10695 1
10695 10696 1
10696 10697 1
10697 10845 148
10845 10846 1
10846 10847 1
10847 10848 1
10848 10849 1
10849 10850 1
10850 10851 1
10851 10853 2
10853 10854 1
10854 10855 1
10855 10856 1
10856 10857 1
10857 10859 2
10859 10860 1
10860 10861 1
10861 10862 1
10862 10864 2
10864 11012 148
11012 11013 1
11013 11014 1
11014 11015 1
11015 11016 1
11016 11017 1
11017 11018 1
11018 11019 1
11019 11020 1
11020 11021 1
11021 11022 1
11022 11032 10
11032 11044 12
11044 11047 3
11047 11052 5
11052 11054 2
11054 11059 5
11059 11062 3
11062 11072 10
11072 11192 120
11192 11226 34
11226 11227 1
11227 11229 2
11229 11230 1
11230 11231 1
11231 11232 1
11232 11233 1
11233 11234 1
11234 11235 1
11235 11236 1
11236 11237 1
11237 11238 1
11238 11239 1
11239 11240 1
11240 11242 2
11242 11243 1
11243 11244 1
11244 11245 1
11245 11246 1
11246 11692 446
11692 11693 1
11693 11703 10
11703 11704 1
11704 11705 1
11705 11706 1
11706 11707 1
11707 11708 1
11708 11710 2
11710 11711 1
11711 11712 1
11712 11713 1
11713 11714 1
11714 11716 2
11716 11717 1
11717 11718 1
11718 11719 1
11719 11721 2
11721 11860 139
11860 11861 1
11861 11862 1
11862 11863 1
11863 11864 1
11864 11865 1
11865 11866 1
11866 12310 444
12310 12311 1
12311 12312 1
12312 12313 1
12313 12314 1
12314 13820 1506
13820 13940 120
13940 14123 183
14123 14124 1
14124 14126 2
14126 14127 1
14127 14128 1
14128 14129 1
14129 14130 1
14130 14131 1
14131 14132 1
14132 14133 1
14133 14134 1
14134 14135 1
14135 14136 1
14136 14137 1
14137 14139 2
14139 14140 1
14140 14141 1
14141 14142 1
14142 14143 1
14143 14197 54
14197 14198 1
14198 14199 1
14199 14200 1
14200 14201 1
14201 14202 1
14202 14203 1
14203 14205 2
14205 14207 2
14207 14208 1
14208 14209 1
14209 14211 2
14211 14213 2
14213 14214 1
14214 14215 1
14215 14217 2
14217 14218 1
14218 14219 1
14219 14220 1
14220 14222 2
14222 14260 38
14260 14261 1
14261 14262 1
14262 14263 1
14263 14264 1
14264 14265 1
14265 14266 1
14266 14267 1
14267 14268 1
14268 14269 1
14269 14270 1
14270 14280 10
14280 14424 144
14424 14464 40
14464 14466 2
14466 14468 2
14468 14470 2
14470 14506 36
14506 14720 214
14720 14840 120
14840 14874 34
14874 14875 1
14875 14877 2
14877 14878 1
14878 14879 1
14879 14880 1
14880 14881 1
14881 14882 1
14882 14883 1
14883 14884 1
14884 14885 1
14885 14886 1
14886 14887 1
14887 14888 1
14888 14890 2
14890 14891 1
14891 14892 1
14892 14893 1
14893 14894 1
14894 14904 10
14904 14905 1
14905 14906 1
14906 14907 1
14907 14908 1
14908 14909 1
14909 14910 1
14910 14912 2
14912 14914 2
14914 14915 1
14915 14916 1
14916 14918 2
14918 14920 2
14920 14921 1
14921 14922 1
14922 14924 2
14924 14925 1
14925 14926 1
14926 14927 1
14927 14929 2
14929 14931 2
14931 14932 1
14932 14933 1
14933 14934 1
14934 14935 1
14935 14936 1
14936 14937 1
14937 14938 1
14938 14939 1
14939 14940 1
14940 14941 1
14941 15061 120
15061 15132 71
15132 15133 1
15133 15135 2
15135 15136 1
15136 15137 1
15137 15138 1
15138 15139 1
15139 15140 1
15140 15141 1
15141 15142 1
15142 15143 1
15143 15144 1
15144 15145 1
15145 15146 1
15146 15148 2
15148 15149 1
15149 15150 1
15150 15151 1
15151 15152 1
15152 15190 38
15190 15191 1
15191 15192 1
15192 15193 1
15193 15194 1
15194 15195 1
15195 15196 1
15196 15198 2
15198 15199 1
15199 15200 1
15200 15201 1
15201 15202 1
15202 15204 2
15204 15205 1
15205 15206 1
15206 15207 1
15207 15209 2
15209 15247 38
15247 15248 1
15248 15249 1
15249 15250 1
15250 15251 1
15251 15252 1
15252 15253 1
15253 15254 1
15254 15255 1
15255 15256 1
15256 15257 1
15257 15267 10
15267 15277 10
15277 15287 10
15287 15307 20
15307 24655 9348
24655 24691 36
24691 24731 40
24731 24875 144
24875 24895 20
24895 24915 20

24915

In [197]:
locations.reset_index(drop=True, inplace=True)
locations['loc_fk'] = locations.index
commission_data['loc_fk'] = fk_lst

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [198]:
locations

    from_location to_location pos  loc_fk
0                              US       0
1                        ASIA  US       1
2                         HKG  US       2
3            ASIA         USA  US       3
4             BOS              US       4
5             BOS         BKI  US       5
6             BOS         BKK  US       6
7             BOS         BOS  US       7
8             BOS         CAN  US       8
9             BOS         CEB  US       9
10            BOS         CGO  US      10
11            BOS         CHI  US      11
12            BOS         CKG  US      12
13            BOS         CNX  US      13
14            BOS         CRK  US      14
15            BOS         CSX  US      15
16            BOS         CTU  US      16
17            BOS         DAD  US      17
18            BOS         DLC  US      18
19            BOS         DPS  US      19
20            BOS         FOC  US      20
21            BOS         HAK  US      21
22            BOS         HAN  US      22
23            BOS         HGH  US      23
24            BOS         HKG  US      24
25            BOS         HKT  US      25
26            BOS         JKT  US      26
27            BOS         KHH  US      27
28            BOS         KMG  US      28
29            BOS         KUL  US      29
..            ...         ...  ..     ...
300           SFO         NGB  US     300
301           SFO         NKG  US     301
302           SFO         PEN  US     302
303           SFO         PNH  US     303
304           SFO         PVG  US     304
305           SFO         RGN  US     305
306           SFO         RMQ  US     306
307           SFO         SGN  US     307
308           SFO         SHA  US     308
309           SFO         SIN  US     309
310           SFO         SUB  US     310
311           SFO         SYX  US     311
312           SFO         TAO  US     312
313           SFO         TPE  US     313
314           SFO         TSN  US     314
315           SFO         URC  US     315
316           SFO         WNZ  US     316
317           SFO         WUH  US     317
318           SFO         XIY  US     318
319           SFO         XMN  US     319
320           SIN         BOS  US     320
321           SIN         HKG  US     321
322           SIN         JFK  US     322
323           SIN         SIN  US     323
324           USA        ASIA  US     324
325           USA         HKG  US     325
326           USA         SIN  US     326
327           USA         YVR  US     327
328           YVR        ASIA  US     328
329           YVR         JFK  US     329

[330 rows x 4 columns]

#### create location mapping

In [199]:
# backup
location_copy = locations.copy()

In [200]:
# recover
locations = location_copy.copy()

In [201]:
# find unique location pos matching
location_map = locations[['from_location', 'pos']].values.tolist()+locations[['to_location', 'pos']].values.tolist()
location_map = pd.DataFrame(location_map)
location_map.drop_duplicates(inplace=True)
location_map.columns = ['location', 'pos']

In [202]:
# check location
location_map['location'].unique()

array(['', 'ASIA', 'BOS', 'CHI', 'DFW', 'EWR', 'HKG', 'JFK', 'LAX', 'MIA',
       'NYC', 'ORD', 'SFO', 'SIN', 'USA', 'YVR', 'BKI', 'BKK', 'CAN',
       'CEB', 'CGO', 'CKG', 'CNX', 'CRK', 'CSX', 'CTU', 'DAD', 'DLC',
       'DPS', 'FOC', 'HAK', 'HAN', 'HGH', 'HKT', 'JKT', 'KHH', 'KMG',
       'KUL', 'KWL', 'MNL', 'NGB', 'NKG', 'PEN', 'PNH', 'PVG', 'RGN',
       'RMQ', 'SGN', 'SHA', 'SUB', 'SYX', 'TAO', 'TPE', 'TSN', 'URC',
       'WNZ', 'WUH', 'XIY', 'XMN', 'VIA'], dtype=object)

#### faulty data found in locations, further data cleaning for location

JFKHKG(VIA CX888/889 ONLY) case:

In [985]:
locations.loc[locations['from_location'] == 'JFKHKG(VIA CX888/889 ONLY)']

                 from_location                 to_location pos  loc_fk
57  JFKHKG(VIA CX888/889 ONLY)  JFKHKG(VIA CX888/889 ONLY)  US      57

In [986]:
# update location table 
locations.loc[locations['from_location'] == 'JFKHKG(VIA CX888/889 ONLY)', 'from_location'] = 'JFK'
locations.loc[locations['to_location'] == 'JFKHKG(VIA CX888/889 ONLY)', 'to_location'] = 'HKG'
locations.loc[locations['loc_fk'] ==57]

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

   from_location to_location pos  loc_fk
57           JFK         HKG  US      57

In [994]:
# update commission table
dup = commission_data.loc[commission_data['loc_fk'] == 57] 
commission_data.loc[commission_data['loc_fk'] == 57, 'flights'] = '+CX888'
dup.loc[:,'flights'] = '+CX889'
commission_data =  pd.concat([commission_data, dup], ignore_index = True)

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

other cases:

In [1005]:
location_to_clean = {
    'CX AND KA': 'ALL CX AND KA',
    'CX AND KA SYSTEM': 'ALL CX AND KA',
    'SYSTEM': 'ALL CX AND KA',
    'FROM': None   
}

location_to_unwind = {
    'MEXICO ANDLATIN AMERICA': ['MEXICO', 'LATIN AMERICA'],
    'MEXICO AND LATIN AMERICA': ['MEXICO', 'LATIN AMERICA'], 
    'SHA OR HKG': ['SHA','HKG'],
    'WUH, CAN, BJS, SHA OR HKG': ['WUH', 'CAN', 'BJS', 'SHA', 'HKG']    
}
     
location_route = {
    'BOS SIN AND BOS SHA': ('BOS', ['SIN', 'SHA']),
    'BOS TO PVG': ('BOS', 'PVG'),
    'CANADA TO': ('CANADA', None),
    'CANADA TO ASIA': ('CANADA', 'ASIA'),
    'CHI OR CID TO ASIA': (['CHI','CID'], 'ASIA'),
    'LAX TO ASIA': ('LAX', 'ASIA'),
    'LAX TO ASIA ONLY': ('LAX', 'ASIA'),
    'SHA OR HKG': (['SHA', 'HKG'],['SHA', 'HKG']),
    'TOWUH, CAN, BJS,': (None, ['WUH', 'CAN', 'BJS']),
    'USA ORLATIN AMERICA - ASIA': ('USA', 'ASIA'),
    'CANADA – ASIA*': ('CANADA', 'ASIA'),
    'JFK/EWR-AISA': (['EWR', 'JFK'], 'ASIA'),
    'USA-AISA': ('USA', 'ASIA'),
    'USA TO ASIA': ('USA', 'ASIA'),
    'USA ASIA': ('USA', 'ASIA') 
}
# investigate this case: 'JFKHKG(VIA CX888/889 ONLY)'
target_cols = ['from_location', 'to_location']

In [1006]:
# clean step 1: change route to from and to location
def elem_convert(elem):
    if isinstance(elem, list):
        elem_return = ' '.join(elem)
        location_to_unwind[elem_return] = elem
    else:
        elem_return = elem
    return elem_return

# transform data based on location_route into location_to_clean and location_to_unwind
clean_data1 = locations.copy()
for tc in target_cols:
    for k, v in location_route.items():
        if len(clean_data1.loc[locations[tc]==k])>0:
            clean_data1.loc[locations[tc]==k, target_cols[0]] = elem_convert(v[0])
            clean_data1.loc[locations[tc]==k, target_cols[1]] = elem_convert(v[1])

In [1007]:
# cleaning step 2: replace the faulty value of a location field
def replace(k, v, tcols, locations, location_to_clean):
    new_locations = locations.copy()
    for tc in tcols:
        for k, v in location_to_clean.items():
            new_locations.loc[new_locations[tc] == k, tc] = v
    return new_locations
clean_loc2 = replace(k, v, target_cols, clean_data1, location_to_clean)
clean_loc2

                 from_location                to_location pos  loc_fk
0                         ASIA                       ASIA  US       0
1                         ASIA                        HKG  US       1
2                         ASIA                        SIN  US       2
3                          ATL                       ASIA  US       3
4                          ATL                        HKG  US       4
5                          BKK                        MNL  US       5
6                          BOS                       ASIA  US       6
7                          BOS                        BOS  US       7
8                          BOS                        HKG  US       8
9                          BOS                        MIA  US       9
10                         BOS                        PVG  US      10
11                         BOS                        SIN  US      11
12                         BOS                    SIN SHA  US      12
13                         BOS                        PVG  US      13
14                      CANADA                       ASIA  US      14
15                      CANADA                       ASIA  US      15
16                      CANADA                        JFK  US      16
17                      CANADA                       None  US      17
18                      CANADA                       ASIA  US      18
19                         CHI                        KHH  US      19
20                         CHI                        MNL  US      20
21                     CHI CID                       ASIA  US      21
22                         CLE                       ASIA  US      22
23                         CLE                        HKG  US      23
24                         CLT                       ASIA  US      24
25                         CLT                        HKG  US      25
26                         CMH                        HKG  US      26
27               ALL CX AND KA              ALL CX AND KA  US      27
28               ALL CX AND KA              ALL CX AND KA  US      28
29                         DFW                        HKG  US      29
..                         ...                        ...  ..     ...
87                         SFO                        SIN  US      87
88                         SFO                        TPE  US      88
89                         SGN                        CMB  US      89
90                     SHA HKG                    SHA HKG  US      90
91                         SIN                       ASIA  US      91
92                         SIN                        HKG  US      92
93                         SIN                        MNL  US      93
94                         STL                        HKG  US      94
95                         STL                        SIN  US      95
96               ALL CX AND KA              ALL CX AND KA  US      96
97                        None                WUH CAN BJS  US      97
98                         TPE                        KHH  US      98
99                         USA                       ASIA  US      99
100                        USA                        CGK  US     100
101                        USA                        HKG  US     101
102                        USA                        KUL  US     102
103                        USA                     MEXICO  US     103
104                        USA                        MIA  US     104
105                        USA                        MNL  US     105
106                        USA                        PVG  US     106
107                        USA                        SIN  US     107
108                        USA                        USA  US     108
109                        USA                       ASIA  US     109
110                        USA                        YVR  US     110
111                        USA                       ASIA  US     111
112                        USA                       ASIA  US     112
113                        USA                       ASIA  US     113
114  WUH, CAN, BJS, SHA OR HKG  WUH, CAN, BJS, SHA OR HKG  US     114
115                        YVR                        JFK  US     115
116                        NaN                        NaN  US     116

[117 rows x 4 columns]

In [1008]:
# clean step 3 : unwind the field that has list
def replace_and_unwind(k, v, tc, locations_old, target_cols):
    locations_new = locations_old.copy()
    # if the faulty value exists
    if len(locations_new.loc[locations_old[tc] == k]) > 0:
        # print("updating: ", tc, k, v, len(locations_new))
        # replace the value with the first element of the list
        locations_new.loc[locations_old[tc] == k, tc] = v[0]
        # for the rest of the elements
        # create duplicate rows
        dups = []
        for v_e in v[1:]:
            # create duplicate rows
            dup = locations_new.loc[locations_old[tc] == k]
            # replace target column value in duplicate rows
            dup[tc] = v_e
            dups.append(dup)
        # add in the duplicate rows  
        for dup in dups:
            locations_new = pd.concat([locations_new, dup], ignore_index = True)
        # print("after update: ", tc, k, v, "length of datafrane: ", len(locations_new))      
    # print("after update all: ", k, v, "length of datafrane: ", len(locations_new))
    return locations_new
# cleaning

clean_loc3 = clean_loc2.copy()
for tc in target_cols:
    for k, v in location_to_unwind.items():
        # print("---before update----", len(location_clean))
        clean_loc3= replace_and_unwind(k, v, tc, clean_loc3, target_cols)       
        # print("-------------after update--------------", len(location_clean))
        # print("----------------------------------------")

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [1012]:
locations = clean_loc3

In [1148]:
# recreate location map
location_map = clean_loc3[['from_location', 'pos']].values.tolist()+clean_loc3[['to_location', 'pos']].values.tolist()
location_map = pd.DataFrame(location_map)
location_map.drop_duplicates(inplace=True)
location_map.columns = ['location', 'pos']

#### Find location code mapping

In [203]:
from sqlalchemy import create_engine
# database connection
hostname = 'rassure-cx-dev.ctepqvlta15m.ap-southeast-2.rds.amazonaws.com'
username = 'jialuc'
password = '12345678'
database = 'zz_jc'
engine = create_engine('mysql+pymysql://jialuc:12345678@rassure-cx-dev.ctepqvlta15m.ap-southeast-2.rds.amazonaws.com/genie')
db_conn = engine.connect() 
# get location code information from databse
airport_city_map = pd.read_sql('SELECT airpt_cd, ctry_nm, ctry_cd, city_nm FROM genie.ref_airpt_city;', con=db_conn)
zone_map = pd.read_sql('SELECT zone, area_desc, cntry, cntry_cd FROM genie.ref_atpco_zone;', con=db_conn)
iata_city_map = pd.read_sql('SELECT airpt_cd, cntry_cd, city_cd, atpco_zone FROM genie.iata_airport_city;', con=db_conn)

match by airport code

In [204]:
# match airport code with location
location_map = location_map.set_index('location').join(iata_city_map.set_index('airpt_cd'), how='left')
# location_map = location_map.set_index('location').join(airport_city_map.set_index('airpt_cd'), how='left')
# create airport code column, is null when is not
location_map['airpt_cd'] = location_map.index
mask = location_map[['cntry_cd', 'city_cd', 'atpco_zone']].sum(axis=1) == 0
# mask = location_map[['ctry_nm', 'ctry_cd', 'city_nm']].sum(axis=1) == 0
location_map.loc[mask, 'airpt_cd'] = ''
location_map['location'] = location_map.index
location_map

         pos cntry_cd city_cd atpco_zone airpt_cd location
location
          US      NaN     NaN        NaN
ASIA      US      NaN     NaN        NaN              ASIA
BOS       US       US     BOS        000      BOS      BOS
CHI       US       US     CHI        000      CHI      CHI
DFW       US       US     DFW        000      DFW      DFW
EWR       US       US     NYC        000      EWR      EWR
HKG       US       HK     HKG        320      HKG      HKG
JFK       US       US     NYC        000      JFK      JFK
LAX       US       US     LAX        000      LAX      LAX
MIA       US       US     MIA        000      MIA      MIA
NYC       US       US     NYC        000      NYC      NYC
ORD       US       US     CHI        000      ORD      ORD
SFO       US       US     SFO        000      SFO      SFO
SIN       US       SG     SIN        320      SIN      SIN
USA       US      NaN     NaN        NaN               USA
YVR       US       CA     YVR        000      YVR      YVR
BKI       US       MY     BKI        320      BKI      BKI
BKK       US       TH     BKK        320      BKK      BKK
CAN       US       CN     CAN        320      CAN      CAN
CEB       US       PH     CEB        320      CEB      CEB
CGO       US       CN     CGO        320      CGO      CGO
CKG       US       CN     CKG        320      CKG      CKG
CNX       US       TH     CNX        320      CNX      CNX
CRK       US       PH     NCP        320      CRK      CRK
CSX       US       CN     CSX        320      CSX      CSX
CTU       US       CN     CTU        320      CTU      CTU
DAD       US       VN     DAD        320      DAD      DAD
DLC       US       CN     DLC        320      DLC      DLC
DPS       US       ID     DPS        320      DPS      DPS
FOC       US       CN     FOC        320      FOC      FOC
HAK       US       CN     HAK        320      HAK      HAK
HAN       US       VN     HAN        320      HAN      HAN
HGH       US       CN     HGH        320      HGH      HGH
HKT       US       TH     HKT        320      HKT      HKT
JKT       US      NaN     NaN        NaN               JKT
KHH       US       TW     KHH        320      KHH      KHH
KMG       US       CN     KMG        320      KMG      KMG
KUL       US       MY     KUL        320      KUL      KUL
KWL       US       CN     KWL        320      KWL      KWL
MNL       US       PH     MNL        320      MNL      MNL
NGB       US       CN     NGB        320      NGB      NGB
NKG       US       CN     NKG        320      NKG      NKG
PEN       US       MY     PEN        320      PEN      PEN
PNH       US       KH     PNH        320      PNH      PNH
PVG       US       CN     SHA        320      PVG      PVG
RGN       US       MM     RGN        320      RGN      RGN
RMQ       US       TW     RMQ        320      RMQ      RMQ
SGN       US       VN     SGN        320      SGN      SGN
SHA       US       CN     SHA        320      SHA      SHA
SUB       US       ID     SUB        320      SUB      SUB
SYX       US       CN     SYX        320      SYX      SYX
TAO       US       CN     TAO        320      TAO      TAO
TPE       US       TW     TPE        320      TPE      TPE
TSN       US       CN     TSN        320      TSN      TSN
URC       US       CN     URC        320      URC      URC
WNZ       US       CN     WNZ        320      WNZ      WNZ
WUH       US       CN     WUH        320      WUH      WUH
XIY       US       CN     SIA        320      XIY      XIY
XMN       US       CN     XMN        320      XMN      XMN
VIA       US       BR     VIA        170      VIA      VIA

In [205]:
# for the entries are matched by airport code
# if the airport code and the city code are the same, use the city code 
mask1 = location_map['airpt_cd'] != ''
mask2 = location_map['airpt_cd'] == location_map['city_cd']
location_map.loc[mask1&mask2, 'code'] = location_map['city_cd'] 
location_map.loc[mask1&mask2, 'loc_type'] = 'C'

In [206]:
# otherwise use airport
mask3 = location_map['airpt_cd'] != location_map['city_cd']
location_map.loc[mask1&mask3, 'code'] = location_map['airpt_cd']
location_map.loc[mask1&mask3, 'loc_type'] = 'P'

In [207]:
# get rid of the other useless columns
location_map.drop('cntry_cd', inplace=True, axis=1)
location_map.drop('airpt_cd', inplace=True, axis=1)
location_map.drop('atpco_zone', inplace=True, axis=1)
location_map.drop('city_cd', inplace=True, axis=1)

In [208]:
# find unmatch: 
mask = location_map[['code', 'loc_type']].sum(axis=1) == 0
location_map.loc[mask]

         pos location code loc_type
location
          US           NaN      NaN
ASIA      US     ASIA  NaN      NaN
USA       US      USA  NaN      NaN
JKT       US      JKT  NaN      NaN

#### maunally encode these cases:

In [209]:
location_map.loc['USA', 'code'] = 'US'
location_map.loc['USA', 'loc_type'] = 'N'

location_map.loc['JKT', 'code'] = 'JKT'
location_map.loc['JKT', 'loc_type'] = 'P'

# location_map.loc['BJS', 'code'] = 'BJS'
# location_map.loc['BJS', 'loc_type'] = 'C'

# location_map.loc['CANADA', 'code'] = 'CA'
# location_map.loc['CANADA', 'loc_type'] = 'N'

# location_map.loc['MEXICO', 'code'] = 'MX'
# location_map.loc['MEXICO', 'loc_type'] = 'N'

#### solve asia case

In [210]:
dup = location_map.loc[['ASIA']]
dup = pd.concat([dup]*4, ignore_index=True)
zones = ['310', '320', '330', '340']
for index, row in dup.iterrows():
    dup.loc[index, 'code'] = zones[index]
    dup.loc[index, 'loc_type'] = 'Z'
dup

  pos location code loc_type
0  US     ASIA  310        Z
1  US     ASIA  320        Z
2  US     ASIA  330        Z
3  US     ASIA  340        Z

In [211]:
location_map.loc['ASIA', 'code'] = '220'
location_map.loc['ASIA', 'loc_type'] = 'Z'

In [212]:
location_map = pd.concat([location_map, dup], ignore_index=True)

In [213]:
location_map

   pos location code loc_type
0   US           NaN      NaN
1   US     ASIA  220        Z
2   US      BOS  BOS        C
3   US      CHI  CHI        C
4   US      DFW  DFW        C
5   US      EWR  EWR        P
6   US      HKG  HKG        C
7   US      JFK  JFK        P
8   US      LAX  LAX        C
9   US      MIA  MIA        C
10  US      NYC  NYC        C
11  US      ORD  ORD        P
12  US      SFO  SFO        C
13  US      SIN  SIN        C
14  US      USA   US        N
15  US      YVR  YVR        C
16  US      BKI  BKI        C
17  US      BKK  BKK        C
18  US      CAN  CAN        C
19  US      CEB  CEB        C
20  US      CGO  CGO        C
21  US      CKG  CKG        C
22  US      CNX  CNX        C
23  US      CRK  CRK        P
24  US      CSX  CSX        C
25  US      CTU  CTU        C
26  US      DAD  DAD        C
27  US      DLC  DLC        C
28  US      DPS  DPS        C
29  US      FOC  FOC        C
..  ..      ...  ...      ...
34  US      JKT  JKT        P
35  US      KHH  KHH        C
36  US      KMG  KMG        C
37  US      KUL  KUL        C
38  US      KWL  KWL        C
39  US      MNL  MNL        C
40  US      NGB  NGB        C
41  US      NKG  NKG        C
42  US      PEN  PEN        C
43  US      PNH  PNH        C
44  US      PVG  PVG        P
45  US      RGN  RGN        C
46  US      RMQ  RMQ        C
47  US      SGN  SGN        C
48  US      SHA  SHA        C
49  US      SUB  SUB        C
50  US      SYX  SYX        C
51  US      TAO  TAO        C
52  US      TPE  TPE        C
53  US      TSN  TSN        C
54  US      URC  URC        C
55  US      WNZ  WNZ        C
56  US      WUH  WUH        C
57  US      XIY  XIY        P
58  US      XMN  XMN        C
59  US      VIA  VIA        C
60  US     ASIA  310        Z
61  US     ASIA  320        Z
62  US     ASIA  330        Z
63  US     ASIA  340        Z

[64 rows x 4 columns]

#### solve latin america case

In [1158]:
dup1 = location_map.loc[['LATIN AMERICA']]
dup1 = pd.concat([dup1]*4, ignore_index=True)
zones = ['120', '140', '160', '170']
for index, row in dup.iterrows():
    dup1.loc[index, 'code'] = zones[index]
    dup1.loc[index, 'loc_type'] = 'Z'
dup1

  pos       location code loc_type
0  US  LATIN AMERICA  120        Z
1  US  LATIN AMERICA  140        Z
2  US  LATIN AMERICA  160        Z
3  US  LATIN AMERICA  170        Z

In [1161]:
location_map.loc['LATIN AMERICA', 'code'] = 'MX'
location_map.loc['LATIN AMERICA', 'loc_type'] = 'N'

In [1162]:
location_map['location'] = location_map.index

In [1163]:
location_map = pd.concat([location_map, dup1], ignore_index=True)

#### check unmatch:

In [214]:
#unmatch: 
mask = location_map[['code', 'loc_type']].sum(axis=1) == 0
location_map.loc[mask]

  pos location code loc_type
0  US           NaN      NaN

## previous code, ignore, go to 3 importing data:

In [834]:
# zone_map.drop('cntry_cd', axis=1, inplace=True)
zone_map.columns = ['zone', 'zone_desc', 'zone_country']
# turn country name to upper case
zone_map['zone_country']=zone_map['zone_country'].str.upper()
# join by country name 
location_map = location_map.join(zone_map.set_index('zone_country'), how='left')

In [835]:
mask1 = location_map[['zone', 'zone_desc']].sum(axis=1) != 0

In [836]:
# location that has been matched by zone
location_map.loc[mask1]

,pos,cntry_cd,city_cd,atpco_zone,airpt_cd,zone,zone_desc
,US,NaN,NaN,NaN,None,001,TC1 – CONTIGUOUS USA
,US,NaN,NaN,NaN,None,004,TC1 – HAWAII
,US,NaN,NaN,NaN,None,008,TC1 – ALASKA
CANADA,US,NaN,NaN,NaN,None,000,"TC1 – NORTH AMERICA Includes 001, 002, 004, 00..."
CANADA,US,NaN,NaN,NaN,None,002,TC1 – CANADA
MEXICO,US,NaN,NaN,NaN,None,000,"TC1 – NORTH AMERICA Includes 001, 002, 004, 00..."
MEXICO,US,NaN,NaN,NaN,None,009,TC1 – MEXICO
USA,US,NaN,NaN,NaN,None,000,"TC1 – NORTH AMERICA Includes 001, 002, 004, 00..."

In [837]:
# delete some of the wrong matching
location_map = location_map.loc[location_map['zone']!='000']

In [838]:
location_map.columns

Index(['pos', 'cntry_cd', 'city_cd', 'atpco_zone', 'airpt_cd', 'zone',
       'zone_desc'],
      dtype='object')

In [839]:
# find unmatch:
mask1 = location_map[['cntry_cd', 'city_cd', 'atpco_zone', 'airpt_cd']].sum(axis=1) == 0
mask2 = location_map[['zone', 'zone_desc']].sum(axis=1) == 0
location_map.loc[mask2&mask1]

,pos,cntry_cd,city_cd,atpco_zone,airpt_cd,zone,zone_desc
ALL CX AND KA,US,NaN,NaN,NaN,None,NaN,NaN
ASIA,US,NaN,NaN,NaN,None,NaN,NaN
BJS,US,NaN,NaN,NaN,None,NaN,NaN
JFKHKG(VIA CX888/889 ONLY),US,NaN,NaN,NaN,None,NaN,NaN
LATIN AMERICA,US,NaN,NaN,NaN,None,NaN,NaN
NaN,US,NaN,NaN,NaN,None,NaN,NaN

In [840]:
location_map.loc['ASIA', 'zone'] = '320'
location_map.loc['BJS', 'city_cd'] = 'BJS'
location_map.loc['BJS', 'cntry_cd'] = 'CN'
location_map.loc['BJS', 'atpco_zone'] = '320'
location_map.loc['LATIN AMERICA', 'atpco_zone'] = '320'

In [841]:
location_map.loc[mask2&mask1]

,pos,cntry_cd,city_cd,atpco_zone,airpt_cd,zone,zone_desc
ALL CX AND KA,US,NaN,NaN,NaN,None,NaN,NaN
ASIA,US,NaN,NaN,NaN,None,320,NaN
BJS,US,CN,BJS,320,None,NaN,NaN
JFKHKG(VIA CX888/889 ONLY),US,NaN,NaN,NaN,None,NaN,NaN
LATIN AMERICA,US,NaN,NaN,320,None,NaN,NaN
NaN,US,NaN,NaN,NaN,None,NaN,NaN

In [922]:
# delete empty entry of lcoations
location_map = location_map[location_map.index!='']
location_map = location_map[location_map.index.notna()]
location_map['location'] = location_map.index
location_map

,pos,cntry_cd,city_cd,airpt_cd,zone,location
ALL CX AND KA,US,NaN,NaN,None,,ALL CX AND KA
ASIA,US,NaN,NaN,None,320,ASIA
ATL,US,US,ATL,ATL,000,ATL
BJS,US,CN,BJS,None,320,BJS
BKK,US,TH,BKK,BKK,320,BKK
BOS,US,US,BOS,BOS,000,BOS
BWI,US,US,BWI,BWI,000,BWI
CAN,US,CN,CAN,CAN,320,CAN
CANADA,US,NaN,NaN,None,002,CANADA
CGK,US,ID,JKT,CGK,320,CGK
CHI,US,US,CHI,CHI,000,CHI
CID,US,US,CID,CID,000,CID
CLE,US,US,CLE,CLE,000,CLE
CLT,US,US,CLT,CLT,000,CLT
CMB,US,LK,CMB,CMB,330,CMB
CMH,US,US,CMH,CMH,000,CMH
DFW,US,US,DFW,DFW,000,DFW
EWE,US,ID,EWE,EWE,320,EWE
EWR,US,US,NYC,EWR,000,EWR
FLL,US,US,FLL,FLL,000,FLL
FMY,US,US,FMY,FMY,000,FMY
GRR,US,US,GRR,GRR,000,GRR
GSP,US,US,GSP,GSP,000,GSP
HKG,US,HK,HKG,HKG,320,HKG
JFK,US,US,NYC,JFK,000,JFK
JFKHKG(VIA CX888/889 ONLY),US,NaN,NaN,None,,JFKHKG(VIA CX888/889 ONLY)
KHH,US,TW,KHH,KHH,320,KHH
KUL,US,MY,KUL,KUL,320,KUL
LAS,US,US,LAS,LAS,000,LAS
LATIN AMERICA,US,NaN,NaN,None,320,LATIN AMERICA
LAX,US,US,LAX,LAX,000,LAX
MEXICO,US,NaN,NaN,None,009,MEXICO
MIA,US,US,MIA,MIA,000,MIA
MNL,US,PH,MNL,MNL,320,MNL
NYC,US,US,NYC,NYC,000,NYC
ORD,US,US,CHI,ORD,000,ORD
PIT,US,US,PIT,PIT,000,PIT
PVG,US,CN,SHA,PVG,320,PVG
SFO,US,US,SFO,SFO,000,SFO
SGN,US,VN,SGN,SGN,320,SGN
SHA,US,CN,SHA,SHA,320,SHA
SIN,US,SG,SIN,SIN,320,SIN
STL,US,US,STL,STL,000,STL
TPE,US,TW,TPE,TPE,320,TPE
WUH,US,CN,WUH,WUH,320,WUH
YVR,US,CA,YVR,YVR,000,YVR

### solve case: JFKHKG(VIA CX888/889 ONLY)

In [897]:
locations.loc[locations['from_location'] == 'JFKHKG(VIA CX888/889 ONLY)']

                 from_location                 to_location pos  loc_fk
58  JFKHKG(VIA CX888/889 ONLY)  JFKHKG(VIA CX888/889 ONLY)  US      58

In [807]:
locations.loc[locations['from_location'] == 'JFKHKG(VIA CX888/889 ONLY)', ['from_location', 'to_location']] = ['JFK', 'HKG']

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [810]:
locations.iloc[58]

from_location    JFK
to_location      HKG
pos               US
loc_fk            58
Name: 58, dtype: object

In [813]:
'JFK' in location_map.index and 'HKG' in location_map.index

True

In [816]:
commission_data.loc[commission_data['loc_fk'] == 58, ['flights']]

        flights
104219  -CX7680
104220  -CX7680
104221  -CX7680
104222  -CX7680
104223  -CX7680
104224  -CX7680
104225  -CX7680
104226  -CX7680
104227  -CX7680
104228  -CX7680
104229  -CX7680
104230  -CX7680
104231  -CX7680
104232  -CX7680
104233  -CX7680
104234  -CX7680
104235  -CX7680
104236  -CX7680

### the commission only applys via (VIA CX888/889 ONLY)?

In [844]:
location_map_bu = location_map.copy()

In [845]:
# merge zone with atpco_zone
mask1 = location_map['zone'].isna()
location_map.loc[mask1, 'zone'] = ''
mask2 = location_map['atpco_zone'].isna()
location_map.loc[mask2, 'atpco_zone'] = ''
location_map['new_zone'] = location_map['zone'] + location_map['atpco_zone']
location_map

,pos,cntry_cd,city_cd,atpco_zone,airpt_cd,zone,zone_desc,new_zone
,US,NaN,NaN,,None,001,TC1 – CONTIGUOUS USA,001
,US,NaN,NaN,,None,004,TC1 – HAWAII,004
,US,NaN,NaN,,None,008,TC1 – ALASKA,008
ALL CX AND KA,US,NaN,NaN,,None,,NaN,
ASIA,US,NaN,NaN,,None,320,NaN,320
ATL,US,US,ATL,000,ATL,,NaN,000
BJS,US,CN,BJS,320,None,,NaN,320
BKK,US,TH,BKK,320,BKK,,NaN,320
BOS,US,US,BOS,000,BOS,,NaN,000
BWI,US,US,BWI,000,BWI,,NaN,000
CAN,US,CN,CAN,320,CAN,,NaN,320
CANADA,US,NaN,NaN,,None,002,TC1 – CANADA,002
CGK,US,ID,JKT,320,CGK,,NaN,320
CHI,US,US,CHI,000,CHI,,NaN,000
CID,US,US,CID,000,CID,,NaN,000
CLE,US,US,CLE,000,CLE,,NaN,000
CLT,US,US,CLT,000,CLT,,NaN,000
CMB,US,LK,CMB,330,CMB,,NaN,330
CMH,US,US,CMH,000,CMH,,NaN,000
DFW,US,US,DFW,000,DFW,,NaN,000
EWE,US,ID,EWE,320,EWE,,NaN,320
EWR,US,US,NYC,000,EWR,,NaN,000
FLL,US,US,FLL,000,FLL,,NaN,000
FMY,US,US,FMY,000,FMY,,NaN,000
GRR,US,US,GRR,000,GRR,,NaN,000
GSP,US,US,GSP,000,GSP,,NaN,000
HKG,US,HK,HKG,320,HKG,,NaN,320
JFK,US,US,NYC,000,JFK,,NaN,000
JFKHKG(VIA CX888/889 ONLY),US,NaN,NaN,,None,,NaN,
KHH,US,TW,KHH,320,KHH,,NaN,320
KUL,US,MY,KUL,320,KUL,,NaN,320
LAS,US,US,LAS,000,LAS,,NaN,000
LATIN AMERICA,US,NaN,NaN,320,None,,NaN,320
LAX,US,US,LAX,000,LAX,,NaN,000
MEXICO,US,NaN,NaN,,None,009,TC1 – MEXICO,009
MIA,US,US,MIA,000,MIA,,NaN,000
MNL,US,PH,MNL,320,MNL,,NaN,320
NYC,US,US,NYC,000,NYC,,NaN,000
ORD,US,US,CHI,000,ORD,,NaN,000
PIT,US,US,PIT,000,PIT,,NaN,000
PVG,US,CN,SHA,320,PVG,,NaN,320
SFO,US,US,SFO,000,SFO,,NaN,000
SGN,US,VN,SGN,320,SGN,,NaN,320
SHA,US,CN,SHA,320,SHA,,NaN,320
SIN,US,SG,SIN,320,SIN,,NaN,320
STL,US,US,STL,000,STL,,NaN,000
TPE,US,TW,TPE,320,TPE,,NaN,320
WUH,US,CN,WUH,320,WUH,,NaN,320
YVR,US,CA,YVR,000,YVR,,NaN,000
NaN,US,NaN,NaN,,None,,NaN,

In [846]:
location_map['zone'] = location_map['new_zone']
location_map.drop('atpco_zone', inplace=True, axis=1)
location_map.drop('new_zone', inplace=True, axis=1)
location_map.drop('zone_desc', inplace=True, axis=1)

### unsolve case: ALL CX, JFKHKG(VIA CX888/889 ONLY), LATIN AMERICA

In [186]:
location_map.to_csv('commissions_loc_map.csv')
commission_data.to_csv('commissions.csv')
locations.to_csv('commissions_loc.csv')

### transform the location map

In [967]:
match_by_city = location_map['location'] =

,pos,cntry_cd,city_cd,airpt_cd,zone,location
ALL CX AND KA,US,NaN,NaN,None,,ALL CX AND KA
ASIA,US,NaN,NaN,None,320,ASIA
ATL,US,US,ATL,ATL,000,ATL
BJS,US,CN,BJS,None,320,BJS
BKK,US,TH,BKK,BKK,320,BKK
BOS,US,US,BOS,BOS,000,BOS
BWI,US,US,BWI,BWI,000,BWI
CAN,US,CN,CAN,CAN,320,CAN
CANADA,US,NaN,NaN,None,002,CANADA
CGK,US,ID,JKT,CGK,320,CGK
CHI,US,US,CHI,CHI,000,CHI
CID,US,US,CID,CID,000,CID
CLE,US,US,CLE,CLE,000,CLE
CLT,US,US,CLT,CLT,000,CLT
CMB,US,LK,CMB,CMB,330,CMB
CMH,US,US,CMH,CMH,000,CMH
DFW,US,US,DFW,DFW,000,DFW
EWE,US,ID,EWE,EWE,320,EWE
EWR,US,US,NYC,EWR,000,EWR
FLL,US,US,FLL,FLL,000,FLL
FMY,US,US,FMY,FMY,000,FMY
GRR,US,US,GRR,GRR,000,GRR
GSP,US,US,GSP,GSP,000,GSP
HKG,US,HK,HKG,HKG,320,HKG
JFK,US,US,NYC,JFK,000,JFK
JFKHKG(VIA CX888/889 ONLY),US,NaN,NaN,None,,JFKHKG(VIA CX888/889 ONLY)
KHH,US,TW,KHH,KHH,320,KHH
KUL,US,MY,KUL,KUL,320,KUL
LAS,US,US,LAS,LAS,000,LAS
LATIN AMERICA,US,NaN,NaN,None,320,LATIN AMERICA
LAX,US,US,LAX,LAX,000,LAX
MEXICO,US,NaN,NaN,None,009,MEXICO
MIA,US,US,MIA,MIA,000,MIA
MNL,US,PH,MNL,MNL,320,MNL
NYC,US,US,NYC,NYC,000,NYC
ORD,US,US,CHI,ORD,000,ORD
PIT,US,US,PIT,PIT,000,PIT
PVG,US,CN,SHA,PVG,320,PVG
SFO,US,US,SFO,SFO,000,SFO
SGN,US,VN,SGN,SGN,320,SGN
SHA,US,CN,SHA,SHA,320,SHA
SIN,US,SG,SIN,SIN,320,SIN
STL,US,US,STL,STL,000,STL
TPE,US,TW,TPE,TPE,320,TPE
WUH,US,CN,WUH,WUH,320,WUH
YVR,US,CA,YVR,YVR,000,YVR

### 3. Importing the data

#### commissions

In [27]:
# code for reading csv file directly 
# path of the csv file that stores the source files directory
"""
dir_path = "CXcommissions_201807051523.csv"
dat=pd.read_csv(dir_path)
dat.drop(['Unnamed: 0'], axis=1, inplace = True)
dat.columns = [col.lower() for col in dat.columns]
dat['commission_id'] = np.nan
dat_cols = list(dat.columns)
dat_cols.insert(0, dat_cols.pop())
dat = dat[dat_cols]
dat=pd.read_csv(dir_path)
dat.drop(['Unnamed: 0'], axis=1, inplace = True)
dat.columns = [col.lower() for col in dat.columns]
"""

In [183]:
# check the import data
#commission_data
#location_map
#locations

In [215]:
commission_data.columns

Index(['agent_discount', 'corporate_acc_id', 'corporate_discount',
       'ct_fare_comm', 'discount_unit', 'fbc', 'filename', 'flights',
       'originating', 'pcc', 'pos', 'rbd', 'rtw_fare_comm',
       'sales_period_dis_date', 'sales_period_eff_date', 'tkt_designator',
       'tkt_dis_date', 'tourcodes', 'trv_dis_date', '_id', 'loc_fk'],
      dtype='object')

In [216]:
commission_data['tkt_designator'].unique()

array(['', 'PEPZ', 'IAP2', 'CMA:  /IAPCN, CMP: /IAPCP'], dtype=object)

In [231]:
# specify columns in each data type for commission_data
int_type = []
float_type = ['agent_discount', 'corporate_discount']
date_type = ['sales_period_dis_date', 'sales_period_eff_date', 'tkt_dis_date']
str_type = ['loc_fk', 'pcc', 'ct_fare_comm', 'rtw_fare_comm', 'country', 'discount_unit', 'fbc', 'filename', 'flights', 
            'originating', 'tkt_designator','corporate_acc_id', 'pos', 'rbd', 'tourcodes', '_id']

In [232]:
len(str_type)+len(date_type)+len(float_type)

21

In [233]:
len(commission_data.columns)

21

### transform string and date data types to match with sqlalchemy:

In [234]:
from datetime import datetime
# data type mapper+transformation function
def type_mapper(col, index, row):
    no_error = True
    dat = row[col]
    try:
        if col in int_type:
            row[col] = float(dat)       
        if col in float_type:
            row[col] = float(dat)
        if col in str_type:
            row[col] = str(dat)
        if col in date_type:
            date = datetime.strptime(dat,'%Y-%m-%d')
            row[col] = date.date()
    except TypeError:
        no_error = False
        print(col, row[col])
    except ValueError: 
        no_error = False
        print(col, row[col])
    return no_error, row

In [235]:
from datetime import datetime, timedelta
commissions = []
for index, row in commission_data.iterrows():
    no_error = True
    row = dict(row)
    not_nan_cols = []
    # if the field is nan
    for col in commission_data.columns:
        if str(row[col]) == 'nan' or row[col] == '' or row[col] == 'None':
            row[col] = None
        # if is not nan
        else:
            not_nan_cols.append(col)
    # for all columns that are not nan field
    for col in not_nan_cols:
        this_no_error, row = type_mapper(col, index, row)
        no_error = no_error and this_no_error
    if no_error:
        commissions.append(row)
    else:
        print("Skip row due to conversion error: ", index)

In [236]:
# add run id
for com in commissions:
    com['run_id'] = 201808201745

In [237]:
len(commissions)

24915

In [238]:
pd.DataFrame(commissions).columns

Index(['_id', 'agent_discount', 'corporate_acc_id', 'corporate_discount',
       'ct_fare_comm', 'discount_unit', 'fbc', 'filename', 'flights', 'loc_fk',
       'originating', 'pcc', 'pos', 'rbd', 'rtw_fare_comm', 'run_id',
       'sales_period_dis_date', 'sales_period_eff_date', 'tkt_designator',
       'tkt_dis_date', 'tourcodes', 'trv_dis_date'],
      dtype='object')

In [246]:
hostname = 'rassure-cx-dev.ctepqvlta15m.ap-southeast-2.rds.amazonaws.com'
username = 'jialuc'
password = '12345678'
database = 'cx_dw'

In [249]:
from sqlalchemy import create_engine
engine = create_engine('mysql+pymysql://jialuc:12345678@rassure-cx-dev.ctepqvlta15m.ap-southeast-2.rds.amazonaws.com/cx_dw')

In [256]:
from sqlalchemy.ext.declarative import declarative_base
from  sqlalchemy.schema import Column
from sqlalchemy import *

# create table in database
Base = declarative_base()
class Commissions(Base):
    __tablename__="commissions"
    agent_discount = Column(Numeric(6))
    corporate_discount = Column(Numeric(6))
    # country = Column(String(4))
    ct_fare_comm = Column(String(10))
    discount_unit = Column(String(4)) 
    fbc = Column(String(7))
    filename = Column(String(200))
    flights = Column(String(100),nullable=True, primary_key=True) 
    # from_location = Column(String(100))
    originating = Column(String(50)) 
    pos = Column(String(50)) 
    rbd = Column(String(4)) 
    rtw_fare_comm = Column(String(10))
    sales_period_dis_date = Column(Date) 
    sales_period_eff_date = Column(Date) 
    tkt_dis_date = Column(Date)
    tourcodes = Column(String(100)) 
    # to_location = Column(String(100)) 
    trv_dis_date = Column(Date)
    pcc = Column(String(10),nullable=True) 
    tkt_designator = Column(String(50),nullable=True)  
    corporate_acc_id = Column(String(20),nullable=True)
    _id = Column(String(40), primary_key=True)
    run_id = Column(String(12), primary_key=True)
    loc_fk = Column(Integer,)
# create commissions table if not exists
Commissions.__table__.create(bind=engine, checkfirst=True)

In [257]:
from sqlalchemy.orm.session import sessionmaker
Session = sessionmaker(bind=engine)
session = Session() 
for com in commissions:
    row = Commissions(**com)
    session.add(row)
session.commit()

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1364, "Field 'flights' doesn't have a default value")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 7")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 8")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 9")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 10")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 11")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 12")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 13")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 14")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 15")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 16")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 17")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 18")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 19")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 20")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 21")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 22")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 23")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 24")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 25")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 26")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 27")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 28")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 29")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 30")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 37")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 38")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 39")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 40")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 41")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 42")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 43")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 44")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 45")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 46")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 47")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 48")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 49")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 50")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 51")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 52")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 53")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 54")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 55")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 56")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 57")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 58")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 59")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 60")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 61")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 62")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 63")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 64")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 65")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 66")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 67")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 68")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 69")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 70")
  result = self._query(query)

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2175")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2176")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2177")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2178")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2179")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2180")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2181")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2182")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2183")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2184")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2185")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2186")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2187")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2188")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2189")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2190")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2191")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2192")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2193")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2194")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2195")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2196")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2197")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2198")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2199")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2200")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2201")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2202")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2203")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2204")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2217")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2218")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2219")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2220")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2221")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2222")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2223")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2224")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2225")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2226")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2227")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2228")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2235")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2236")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2237")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2238")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2239")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2240")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2241")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2242")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2243")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2244")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2245")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2246")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2247")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2248")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2249")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2250")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2251")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2252")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2253")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2254")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2255")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2256")
  result = self._query(query)

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 31")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 32")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 33")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 34")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 35")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 36")
  result = self._query(query)

### Import locations into MySQL

In [258]:
locations.head()

  from_location to_location pos  loc_fk
0                            US       0
1                      ASIA  US       1
2                       HKG  US       2
3          ASIA         USA  US       3
4           BOS              US       4

In [259]:
locations.columns

Index(['from_location', 'to_location', 'pos', 'loc_fk'], dtype='object')

In [260]:
from sqlalchemy.ext.declarative import declarative_base
from  sqlalchemy.schema import Column
from sqlalchemy import *

# create table in database
Base = declarative_base()
class Locations(Base):
    __tablename__="commissions_loc"
    from_location = Column(String(100), nullable=True, primary_key=True)
    pos = Column(String(50), nullable=True, primary_key=True) 
    to_location = Column(String(100), nullable=True, primary_key=True) 
    loc_fk = Column(Integer, primary_key=True)
# create commissions table if not exists
Locations.__table__.create(bind=engine, checkfirst=True)

In [262]:
int_type = ['loc_fk']
str_type = ['from_location', 'to_location', 'pos']
date_type = []
float_type = []

In [263]:
# transform the type
from datetime import datetime, timedelta
commissions_loc = []
for index, row in locations.iterrows():
    no_error = True
    row = dict(row)
    not_nan_cols = []
    # if the field is nan
    for col in locations.columns:
        if str(row[col]) == 'nan' or row[col] == '' or row[col] == 'None':
            row[col] = None
        # if is not nan
        else:
            not_nan_cols.append(col)
    # for all columns that are not nan field
    for col in not_nan_cols:
        this_no_error, row = type_mapper(col, index, row)
        no_error = no_error and this_no_error
    if no_error:
        commissions_loc.append(row)
    else:
        print("Skip row due to conversion error: ", index, row)

In [264]:
len(commissions_loc)

330

In [265]:
# import the data
from sqlalchemy.orm.session import sessionmaker
Session = sessionmaker(bind=engine)
session = Session() 
for com_loc in commissions_loc:
    row = Locations(**com_loc)
    session.add(row)
session.commit()

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1364, "Field 'from_location' doesn't have a default value")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1364, "Field 'to_location' doesn't have a default value")
  result = self._query(query)

### Import location_map into MySQL

In [266]:
location_map.columns

Index(['pos', 'location', 'code', 'loc_type'], dtype='object')

In [267]:
location_map.head()

  pos location code loc_type
0  US           NaN      NaN
1  US     ASIA  220        Z
2  US      BOS  BOS        C
3  US      CHI  CHI        C
4  US      DFW  DFW        C

In [268]:
# specify columns in each data type for commission_data
int_type = []
float_type = []
str_type = ['pos', 'loc_type', 'code', 'location']

In [269]:
Base = declarative_base()
class Maps(Base):
    __tablename__="commissions_loc_map"
    pos = Column(String(10), nullable=True, primary_key=True)
    location = Column(String(50), nullable=True, primary_key=True)
    code = Column(String(3), nullable=True, primary_key=True)
    loc_type = Column(String(1), nullable=True, primary_key=True)
# create commissions table if not exists
Maps.__table__.create(bind=engine, checkfirst=True)

In [270]:
from datetime import datetime, timedelta
commissions_map = []
for index, row in location_map.iterrows():
    no_error = True
    row = dict(row)
    not_nan_cols = []
    # if the field is nan
    for col in location_map.columns:
        if str(row[col]) == 'nan' or row[col] == '' or row[col] == 'None' or row[col] == None:
            # print(index, col)
            row[col] = None
            # print(row[col])
        # if is not nan
        else:
            not_nan_cols.append(col)
    # for all columns that are not nan field
    for col in not_nan_cols:
        this_no_error, row = type_mapper(col, index, row)
        no_error = no_error and this_no_error
    if no_error:
        commissions_map.append(row)
    else:
        print("Skip row due to conversion error: ", index, row)

In [271]:
from sqlalchemy.orm.session import sessionmaker
Session = sessionmaker(bind=engine)
session = Session() 
for com_loc in commissi
ons_map:
    row = Maps(**com_loc)
    session.add(row)
session.commit()

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1364, "Field 'location' doesn't have a default value")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1364, "Field 'code' doesn't have a default value")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1364, "Field 'loc_type' doesn't have a default value")
  result = self._query(query)

In [930]:
location_map,loc[airpt_cd]
None

,pos,cntry_cd,city_cd,airpt_cd,zone,location
ALL CX AND KA,US,NaN,NaN,None,,ALL CX AND KA
ASIA,US,NaN,NaN,None,320,ASIA
ATL,US,US,ATL,ATL,000,ATL
BJS,US,CN,BJS,None,320,BJS
BKK,US,TH,BKK,BKK,320,BKK
BOS,US,US,BOS,BOS,000,BOS
BWI,US,US,BWI,BWI,000,BWI
CAN,US,CN,CAN,CAN,320,CAN
CANADA,US,NaN,NaN,None,002,CANADA
CGK,US,ID,JKT,CGK,320,CGK
CHI,US,US,CHI,CHI,000,CHI
CID,US,US,CID,CID,000,CID
CLE,US,US,CLE,CLE,000,CLE
CLT,US,US,CLT,CLT,000,CLT
CMB,US,LK,CMB,CMB,330,CMB
CMH,US,US,CMH,CMH,000,CMH
DFW,US,US,DFW,DFW,000,DFW
EWE,US,ID,EWE,EWE,320,EWE
EWR,US,US,NYC,EWR,000,EWR
FLL,US,US,FLL,FLL,000,FLL
FMY,US,US,FMY,FMY,000,FMY
GRR,US,US,GRR,GRR,000,GRR
GSP,US,US,GSP,GSP,000,GSP
HKG,US,HK,HKG,HKG,320,HKG
JFK,US,US,NYC,JFK,000,JFK
JFKHKG(VIA CX888/889 ONLY),US,NaN,NaN,None,,JFKHKG(VIA CX888/889 ONLY)
KHH,US,TW,KHH,KHH,320,KHH
KUL,US,MY,KUL,KUL,320,KUL
LAS,US,US,LAS,LAS,000,LAS
LATIN AMERICA,US,NaN,NaN,None,320,LATIN AMERICA
LAX,US,US,LAX,LAX,000,LAX
MEXICO,US,NaN,NaN,None,009,MEXICO
MIA,US,US,MIA,MIA,000,MIA
MNL,US,PH,MNL,MNL,320,MNL
NYC,US,US,NYC,NYC,000,NYC
ORD,US,US,CHI,ORD,000,ORD
PIT,US,US,PIT,PIT,000,PIT
PVG,US,CN,SHA,PVG,320,PVG
SFO,US,US,SFO,SFO,000,SFO
SGN,US,VN,SGN,SGN,320,SGN
SHA,US,CN,SHA,SHA,320,SHA
SIN,US,SG,SIN,SIN,320,SIN
STL,US,US,STL,STL,000,STL
TPE,US,TW,TPE,TPE,320,TPE
WUH,US,CN,WUH,WUH,320,WUH
YVR,US,CA,YVR,YVR,000,YVR

### Data import with csv file:

In [47]:
len(dat)

186100

In [53]:
data.iloc[1366]

agent_discount                                                          23
corporate_discount                                                       0
country                                                                 US
ct_fare_comm                                                             0
discount_unit                                                            P
fbc
filename                 17FLL105-Orig Continental Travel Group (APR17-...
flights                                                            -CX7680
from_location                                                          USA
originating                                                           +USA
pos                                                                    NaN
rbd                                                                      D
route                    USA - ASIA     EWR OR MIA - ASIA EWR – ASIA MI...
rtw_fare_comm                                                            0
sales_period_dis_date                                           2019-03-31
sales_period_eff_date                                           2017-04-01
tkt_dis_date                                                    2019-03-31
tourcodes                                                     7FLL105FF501
to_location                                                           ASIA
trv_dis_date
_id                                               5b4289ec9dfc5d081662602d
Name: 1366, dtype: object

In [49]:
# set variables to make connection to the data base
hostname = 'rassure-cx-dev.ctepqvlta15m.ap-southeast-2.rds.amazonaws.com'
username = 'jialuc'
password = '12345678'
database = 'zz_jc'

In [50]:
file_path = "CXcommissions_etl.csv"
schema = "zz_jc"
table_name = "commissions"

In [51]:
load_sql = """LOAD DATA LOCAL INFILE 'CXcommissions_etl.csv' INTO TABLE zz_jc.commissions_etl FIELDS TERMINATED BY ',' ENCLOSED BY '"' IGNORE 1 LINES;"""

In [52]:
def connect_store_commissions(hostname, username, password, database):

    '''
    This function load a csv file to MySQL table according to
    the load_sql statement.
    '''
    try:
        con = pymysql.connect(host=hostname,
                                user=username,
                                password=password,
                                local_infile=1)
        
        print('Connected to DB: {}'.format(hostname))
        # Create cursor and execute Load SQL
        cursor = con.cursor()
        truncate_Stmt = "truncate zz_jc.commissions_etl"
        cursor.execute(truncate_Stmt)
        cursor.execute(load_sql)
        print('Succuessfully loaded the table from csv.')
        con.close()
        
    except Exception as e:
        print('Error: {}'.format(str(e)))
        sys.exit(1)

connect_store_commissions(hostname, username, password, database)

Connected to DB: rassure-cx-dev.ctepqvlta15m.ap-southeast-2.rds.amazonaws.com
Succuessfully loaded the table from csv.

D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'US' for column 'corporate_discount' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'P' for column 'ct_fare_comm' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rbd' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rtw_fare_comm' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'sales_period_eff_date' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'tkt_dis_date' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'trv_dis_date' at row 1")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1261, "Row 1 doesn't contain data for all columns")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'US' for column 'corporate_discount' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'P' for column 'ct_fare_comm' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rbd' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rtw_fare_comm' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'sales_period_eff_date' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'tkt_dis_date' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'trv_dis_date' at row 2")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1261, "Row 2 doesn't contain data for all columns")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1062, "Duplicate entry '5' for key 'PRIMARY'")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'US' for column 'corporate_discount' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'P' for column 'ct_fare_comm' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rbd' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rtw_fare_comm' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'sales_period_eff_date' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'tkt_dis_date' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'trv_dis_date' at row 3")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1261, "Row 3 doesn't contain data for all columns")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'US' for column 'corporate_discount' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'P' for column 'ct_fare_comm' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rbd' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rtw_fare_comm' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'sales_period_eff_date' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'tkt_dis_date' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'trv_dis_date' at row 4")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1261, "Row 4 doesn't contain data for all columns")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'US' for column 'corporate_discount' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'P' for column 'ct_fare_comm' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rbd' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rtw_fare_comm' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'sales_period_eff_date' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'tkt_dis_date' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'trv_dis_date' at row 5")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1261, "Row 5 doesn't contain data for all columns")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'US' for column 'corporate_discount' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'P' for column 'ct_fare_comm' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rbd' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rtw_fare_comm' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'sales_period_eff_date' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'tkt_dis_date' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'trv_dis_date' at row 6")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1261, "Row 6 doesn't contain data for all columns")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'US' for column 'corporate_discount' at row 7")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1366, "Incorrect integer value: 'P' for column 'ct_fare_comm' at row 7")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'fbc' at row 7")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rbd' at row 7")
  result = self._query(query)
D:\Users\jaydenw\AppData\Local\Continuum\anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1265, "Data truncated for column 'rtw_fare_comm' at row 7")
  result = self._query(query)

SystemExit: 1